{% extends 'base.twig' %}

{% block title_tag %}
    {{ parent() }} Menu
{% endblock %}

{% block content %}
    <div class="holder">
        <div class="holder">
            <h1 class="title">Login</h1>
            {% include "/includes/success-message.twig" %}
            <form action="" method="post" class="black-80">
                <div class="measure">
                    <div class="measure">
                        <label for="username" class="f6 b db mb2">Username</label>
                        <input name="username"
                               value="{{ form.username }}"
                               id="username"
                               class="input-reset ba pv2 mb2 db w-100 {{ error.username ? 'b--dark-red' : 'b--black-40' }}"
                        >
                        {% for message in error.username %}
                            <small class="f6 b dark-red db mb2">{{ message }}</small>
                        {% endfor %}
                    </div>
                    <div class="measure">
                        <label for="password" class="f6 b db mb2">Password</label>
                        <input type="password"
                               name="password"
                               id="password"
                               class="input-reset ba pv2 mb2 db w-100 {{ error.password ? 'b--dark-red' : 'b--black-40' }}"
                        >
                        {% for message in error.password %}
                            <small class="f6 b dark-red db mb2">{{ message }}</small>
                        {% endfor %}
                    </div>
                    <div class="measure">
                        {% for message in error.auth %}
                            <small class="f6 b dark-red db mb2">{{ message }}</small>
                        {% endfor %}
                    </div>
                    <input type="submit"
                           name="submit"
                           value="Login"
                           class="input-reset b ph3 pv2 mt3 bn white bg-black hover-bg-blue pointer f6 dib"
                    >
                </div>
            </form>
        </div>
    </div>
{% endblock %}
